--- crosstool-ng-1.15.0_old/kconfig/nconf.c     2012-04-30 16:54:20.000000000 -0400
+++ crosstool-ng-1.15.0/kconfig/nconf.c 2012-05-07 16:47:39.618358900 -0400
@@ -1518,7 +1518,7 @@
        }

        notimeout(stdscr, FALSE);
-       ESCDELAY = 1;
+       set_escdelay(1);

        /* set btns menu */
        curses_menu = new_menu(curses_menu_items);